.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navbar {
  background-color: #001b42;
  height: 10vh;
  display: flex;
  column-gap: 15px;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
}

.Post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: var(--chakra-sizes-full);
  z-index: var(--chakra-zIndices-base);
  gap: 1rem;
  padding: 1rem;
}

.Post-card {
  padding: 1rem;
  border-radius: var(--chakra-radii-xl);
  border-width: thin;
  width: 22rem;
}

.Post-image {
  object-fit: cover;
  width: 20rem;
  height: 20rem;
}

.Box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: row;
  padding-block: 0.5rem;
}

.Box-inner1 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
}

.Box-inner2 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
}

.namedate {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0px;
}

.Date {
  font-size: 0.6rem;
  color: var(--chakra-colors-gray-600);
}

.Caption {
  max-width: 20rem;
  word-break: normal;
}

.ForButton {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
}

.profile-list {
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 40px;
}

.profile-picture {
  width: 6vmin;
  height: 6vmin;
  border-radius: 50%;
}
